<article id="loco-grid" class="border" (window:resize)="onResize()">
  <div id="address">

    @if (isSimpleEngine()) {
    <div class="input">
      <label>DCC Address</label>
      <input [(ngModel)]="engine().address" type="number" placeholder="" min="1" max="10239" />
    </div>
    } @else {
    <div>
      <h3 class="small">{{persistentEngine().name}}</h3>
    </div>
    }

    <div class="align-right align-top">
      <button *ngIf="!isSimpleEngine()" (click)="editEngine()"  appEditIcon>
      </button>
      <button (click)="deactivateEngine()" appCloseIcon>
      </button>
    </div>
  </div>
  <input #speedSlider id="speedSlider" type="range" min="0" max="126" step="1" [(ngModel)]="engine().speed" (input)="setSpeed()" />
  <span id="speed-display">{{engine().speed}}</span>
  <button appArrowBackIcon id="backwards" (click)="setDirection(false)" [class.secondary]="engine().isForwards"></button>
  <button appArrowForwardIcon id="forwards" (click)="setDirection(true)" [class.secondary]="!engine().isForwards"></button>
  <button id="emergency" disabled="true">E-Stop</button>

  <div id="functions" [class.wide]="wideFunctions()" class="scroll">
    <button *ngFor="let f of engine().functions" (click)="toggleFunction(f.number)" class="small"
      [class.secondary]="!f.isActive">{{f.displayName}}</button>
  </div>
</article>