.selectionGrid {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .selectionGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .selectionGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1600px) {
    .selectionGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}
article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

h3, p {
    /* Browsers seem to go with 1em (~18px), 16px and similar values - approx half makes it a bit tighter */
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

nav {
    align-items: center;
    display: flex;
    justify-self: end;
}

.input {
    width: 300px;
}

.toolbar {
    display: flex;
    align-items: center;
}

.dialog-content {
    width: 90dvw;
}