<dialog #selectionDialog (cancel)="close()">
    <h2>Select Engine</h2>
    <div class="selectionGrid">
      <article *ngFor="let engine of engines">
        <h3 class="small border">{{engine.name}}</h3>
        <p>
         @for(tag of engine.tags; track tag) {
          <button class="small border">{{tag}}</button>
         }
        </p>
        <nav class="align-right">
          <button (click)="select(engine)">Select</button>
        </nav>
      </article>      
    </div>
    <nav class="align-right">
      <button class="secondary" (click)="close()">Cancel</button>
      <button (click)="createNewPersistentEngine()">Create New</button>
    </nav>
</dialog>