.stop-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 9999;
}

.stop-button {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
  height: 60px;
}

.stop-button.track-off {
  background-color: var(--color-error-background);
  border-color: var(--color-error-background);
}

.stop-button.track-on {
  background-color: var(--color-success-background);
  border-color: var(--color-success-background);
}
