<dialog class="large active">
    <h5>Edit Engine</h5>
    <div>
        <div class="field label border">
            <input [(ngModel)]="engine.name" type="text" placeholder="" />
            <label>Name</label>
        </div>
        <div class="field label border">
            <input [(ngModel)]="engine.address" type="number" placeholder="" min="1" max="10239" />
            <label>DCC Address</label>
        </div>
    </div>
    <div>
        <fieldset>
            <legend>Tags</legend>
            <button *ngFor="let tag of engine.tags" class="chip small-elevate" (click)="removeTag(tag)">
                <span>{{tag}}</span>
                <i>close</i>
              </button>
              <div class="grid">
                <div class="field label border s8 m9">
                    <input [(ngModel)]="tagInput" type="text" placeholder="" (keydown)="handleTagInputKeypress($event)"/>
                    <label class="responsive">New Tag</label>
                </div>
                <button class="s4 m3" (click)="addTag()">Add</button>
              </div>
        </fieldset>
    </div>
    <div class="field textarea label border extra">
        <textarea [(ngModel)]="engine.notes"></textarea>
        <label>Notes</label>
      </div>
      
    <nav class="right-align">
      <button (click)="cancel()" class="border">Cancel</button>
      <button (click)="save()">Save</button>
    </nav>
</dialog>