<main>
  <h2>Connect to your Command Station</h2>

  <p> This application is part of the <a class="link" href="https://codeberg.org/nic547/intermodalDCC">intermodalDCC project</a>, an open-source DCC command station using "Bluetooth Low Energy"-compatible devices.</p>

  <p>This web application uses a technology called "Web Bluetooth" to connect to a Microcontoller Board running the intermodalDCC firmware.
    Unfortunately, this technology has only been adopted by chromium-based browsers (like Chrome, Edge, Opera, Brave, etc.).
    See <a class="link" href="https://caniuse.com/web-bluetooth">Can I Use</a> for a detailed overview of supported devices and browsers.
  </p>

  <button (click)="connect()" [disabled]="bleService.isLoading() || !bleService.isAvailable()">Connect</button>
  @if (bleService.isLoading()) {
    <progress></progress>
  }
  <p>
    @if (!bleService.IsFake) {
      <a href="/?fakeBle=true">Run without Bluetooth (for testing)</a>
    }
    @else {
    <a href="/?fakeBle=false">Switch back to Bluetooth</a>
  }
</p>
@if (bleService.errorMessage()) {
  <article class="error">{{bleService.errorMessage()}}</article>
}
</main>