/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
    --color-primary: light-dark(oklch(62.3% 0.214 259.815), oklch(0.55 0.245 262.881)); /*blue-500 or blue-600 from tailwind */
    --color-primary-alt: light-dark(oklch(48.8% 0.243 264.376), oklch(80.9% 0.105 251.813)); /*blue-300 or blue-700 from tailwind */
    /*--color-secondary:      light-dark(oklch(0.746 0.160 232.661),  oklch(0.588 0.158 241.966)); /* sky-400 or sky-600 */
    --background-primary: light-dark(oklch(0.967 0.001 286.375), oklch(0.21 0.006 285.885)); /* zinc-100 or zinc-900 */
    --background-secondary: light-dark(oklch(0.92 0.004 286.32), oklch(0.274 0.006 286.033)); /* zinc-200 or zinc-800 */
    --text-primary: light-dark(oklch(0.21 0.006 285.885), oklch(0.967 0.001 286.375));
    --text-secondary: light-dark(oklch(0.37 0.013 285.805), oklch(0.871 0.006 286.286)); /* zinc-700 or zinc-300 */
    --border-color: light-dark(oklch(0.707 0.022 261.325), oklch(0.446 0.03 256.802));

    --color-error-background: light-dark(oklch(63.7% 0.237 25.331), oklch(50.5% 0.213 27.518)); /* red-500 or red-700 */
    --color-success-background: light-dark(oklch(72.3% 0.219 149.579),oklch(52.7% 0.154 150.069)); /* green-500 or green-700 */

    font-size: 1rem;
    font-family: sans-serif;

    --padding: 0.75rem;
    --small-padding: 0.25rem;

    --engine-controller-width: 400px;
}

* {
    box-sizing: border-box;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    user-select: none;
}

body {
    color: var(--text-primary);
    background-color: var(--background-primary);
    overscroll-behavior-y: contain;
}

button,
input::file-selector-button {
    background-color: var(--color-primary);
    border-radius: 0.25rem;
    border: 1px solid var(--color-primary);
    font-size: 1rem;
    line-height: 1;
    padding: var(--padding);
    margin: 0.25rem;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        filter: brightness(0.75);
    }
}

button.svg {
    padding: calc(var(--padding) - 0.25rem); /* icons are 1.5rem instead of 1rem */
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.svg-behind {
    flex-direction: row-reverse;
}

button.svg > svg {
    display: block; /* Somehow the icons buttons aren't square otherwise */
    color: var(--text-primary);
}

button.small {
    padding: calc(var(--padding) / 2);
}

button.secondary {
    background-color: var(--background-secondary);
    border-color: var(--border-color);
}

button:disabled {
    filter: grayscale(1);
    color: var(--text-secondary); /* By default the font is really grey, hard to read */
    cursor: initial;
}

.dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    backdrop-filter: blur(1px) brightness(0.375);
    overflow: auto;
}

.dialog-content {
    min-width: min(600px, 100dvw);
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: var(--border-color);
    background-color: var(--background-primary);
    margin: var(--padding);
    padding: var(--padding);
}

article {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: var(--small-padding);
    margin: var(--small-padding);

    &.error {
        background-color: var(--color-error-background);
        border: 1px solid var(--color-error-background);
        padding: var(--padding);
    }
}

.align-right {
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
}

div.input {
    position: relative;

    & > input,
    & > textarea {
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid var(--border-color);
        background-color: var(--background-secondary);
        padding: calc(var(--padding) / 2);
        padding-top: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: calc(100%);
    }

    & > input:focus,
    & > input:focus-visible,
    & > textarea:focus,
    & > textarea:focus-visible {
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-primary-alt);
    }

    & > label {
        font-size: 0.9rem;
        color: var(--text-secondary);
        z-index: 2;
        position: absolute;
        top: 0.5rem;
        left: calc(var(--padding) / 2);
    }

    &:focus-within > label {
        color: var(--color-primary-alt);
    }
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--text-secondary);
}

input[type="checkbox"] {
    appearance: none;
    height: 1.875rem;
    width: 1.875rem;
    background-color: var(--background-secondary);
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    margin: var(--small-padding);
    padding: var(--small-padding);
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="checkbox"]:checked:before {
    content: "✓";
    /*font-size: 1.5rem;*/
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 1px;
}

select {
    padding: var(--small-padding);
    border: 1px solid var(--border-color);
    background-color: var(--background-secondary);
    border-radius: 0.25rem;
    margin: var(--small-padding);
}
