#engine-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.engine-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.engine-actions > button {
    width: 300px;
    margin: 12px;
}