#engine-container {
    display: flex;
    align-items: center;
    max-width: 100dvw;
    overflow-x: auto;
}

#engine-container > :first-child {
    margin-left: auto;
}

.engine-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    height: 90dvh;
}

.engine-actions > button {
    width: 300px;
    margin: 12px;
}
