<app-engine-selection *ngIf="showSelection()" [(showSelection)]="showSelection"></app-engine-selection>
<app-engine-editor *ngIf="stateService.editingEngine() != null"></app-engine-editor>

<div id="engine-container">
    <app-engine-controller
    *ngFor="let engine of stateService.activeEngines()"
    [engine]="engine"></app-engine-controller>
    <div>
        <button (click)="selectEngine()">Select Engine</button>
        <button (click)="addSimpleEngine()">Add Engine</button>
    </div>
</div>

